#personal-bookmarks .bookmark-item:not([container]) .toolbarbutton-icon {
  display: none !important;
}

#alltabs-button {
  display: none !important;
}

#alltabs-button,
#nav-bar-customization-target #vertical-spacer,
#page-action-buttons #picture-in-picture-button,
#page-action-buttons #pageAction-urlbar-_testpilot-containers {
  display: none !important;
}

#tabbrowser-tabs {
  &:is([expanded]), :is([orient=horizontal]) {
    .tabbrowser-tab:not([pinned]) .tab-close-button { 
      display: none !important
    }
    
    .tabbrowser-tab:not([pinned]):hover .tab-close-button {
      display: inline-flex !important
    }     
  }
}

#tabbrowser-tabbox {
  box-shadow: none !important;
}

browser[type="content-primary"], 
browser[type="content"], 
.browserContainer {
  background-color: #292c33 !important;
}