.DS_Store
.yas-compiled-snippets.el
Brewfile.lock.json
.vscode

/emacs/**/*
/emacs/dot-emacs.d/init-custom.el
!/emacs/script.sh
!/emacs/org.emacs.daemon.plist
!/emacs/dot-emacs.d/*.el
!/emacs/dot-emacs.d/snippets

/dotfiles/dot-config/nvim
/dotfiles/dot-config/iterm2
/dotfiles/dot-config/alacritty
