.DS_Store
.yas-compiled-snippets.el
Brewfile.lock.json
.vscode
!/emacs/dot-emacs.d/*.el
!/emacs/dot-emacs.d/snippets
/emacs/dot-emacs.d/init-custom.el
/emacs/**/*

/dotfiles/dot-config/nvim
/dotfiles/dot-config/iterm2
/dotfiles/dot-config/alacritty
