#personal-bookmarks .bookmark-item:not([container]) .toolbarbutton-icon {
    display: none !important;
}

#navigator-toolbox {
    font-family: "-apple-system" !important
}

/* show close button on hover */
.tabbrowser-tab:not([pinned]) .tab-close-button {
  display: none !important
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  display: inline-flex !important
}

.browserContainer {
  background-color: #101014 !important;
}