@-moz-document 
  url("about:addons"),
  url("about:firefoxview"),
  url("about:home"),
  url("about:newtab"),
  url("about:preferences"),
  url("about:processes"),
  url("about:profiles"),
  url("about:memory"),
  url("about:support") {
  @media (prefers-color-scheme: dark) {
    :root {
      --newtab-background-color: #101014 !important;
      --newtab-background-color-secondary: #101014 !important;
      --in-content-page-background: #101014 !important;
    }
  }
}

@-moz-document url(about:privatebrowsing){
  :root {
    --in-content-page-background: #101014 !important;
  }

  div.showPrivate.showSearch.container {
    display: none;
  }
}