#personal-bookmarks .bookmark-item:not([container]) .toolbarbutton-icon {
    display: none !important;
}

#navigator-toolbox {
    font-family: "-apple-system' !important
}

/* show close button on hover */
#tabbrowser-tabs[closebuttons="activetab"]
 .tabbrowser-tab:not([selected]):not([pinned]):hover .tab-close-button {
  display: -moz-inline-box !important;
}